#{{ ansible_managed }}

OCIS_URL=https://{{ ocis_fqdn }}
PROXY_HTTP_ADDR={{ ocis_proxy_http_addr }}:{{ ocis_proxy_http_port }}
OCIS_INSECURE={{ ocis_config_insecure }}

OCIS_LOG_LEVEL=error

OCIS_CONFIG_DIR={{ ocis_config_dir }}
OCIS_BASE_DATA_PATH={{ ocis_base_data_path }}
